---
# to be read as css
---

@import "hydeout";
.site-footer {
    position:relative;
    border-top: solid 1px #EAEAEA;
    padding: 2em 0;
    height: 480px;
    width: 10%
    bottom:0;
}
