---
# to be read as css
---

@import "hydeout";
.site-footer {
    border-top: solid 1px #EAEAEA;
    background: #f1f1f1;
    padding: 2em 0;
    height: 240px;
    color: #a3a3a3;
    width: 100%;
    bottom:0;
    position:relative

}
