---
# to be read as css
---

@import "hydeout";
.site-footer {
    position:relative;
    border-top: solid 1px #EAEAEA;
    background: #f1f1f1;
    padding: 2em 0;
    top: 720px;
    left: 20px
    color: #a3a3a3;
    bottom:0;

}
